.slidev-layout h1 {
  margin-top: 0 !important;
}

.slidev-layout ul {
  list-style: disc !important;
}

img {
  border-radius: 5px;
}

pre {
  font-weight: 800;
  font-size: 0.65rem !important;
}

code {
  font-size: 0.65rem !important;
}

.slidev-code-wrapper > pre {
  max-width: 400px;
}

iframe label.btn {
  display: none;
}
